[Unit]
Description=DBJeeves

[Service]
Environment=FLASK_ENV=production
User=db_jeeves_user
Group=webdev

WorkingDirectory=/home/bs12/lambda
ExecStart=/home/bs12/lambda/run_gunicorn.sh
Restart=always

[Install]
WantedBy=multi-user.target
