<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            margin: 0px;
            overflow-y: hidden;
            background-color: rgb(117, 154, 184);
        }

        #main-container {
            background-color: rgb(182, 228, 250);
            margin-left: 5%;
            margin-right: 5%;
            padding-top: 3%;
            
        }

        #padded-container {
            padding-left: 5%;
            padding-right: 5%;
            color: rgb(80, 110, 134);
        }
    </style>
</head>


<body>
    <div id="main-container">
        <div id="padded-container">
            <h1>Hello, World!</h1>
        </div>
    </div>

</body>

</html>