<html>


<head>
	{% include 'jquery.jinja' %}

	<script src="https://cdn.jsdelivr.net/npm/jquery.fancytree@2.27/dist/jquery.fancytree-all-deps.min.js"></script>

	<script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js"></script>
	<script src="https://pagecdn.io/lib/ace/1.4.12/theme-tomorrow_night.min.js"></script>
	<script src="https://pagecdn.io/lib/ace/1.4.12/mode-{{script_lang}}.min.js"></script>
	<script src="https://pagecdn.io/lib/ace/1.4.12/mode-html.min.js"></script>



	<style>
		body {
			overflow-y: hidden;
		}

		#controls {
			padding-bottom: 1%;
			padding-left: 1%;
		}

		#suite {
			display: flex;
			height: 100%;
		}

		#tree-container {
			overflow: auto;
			min-width: 15%;
		}

		#tree {
			overflow: auto;
			max-width: 95%;
			max-height: 90%;
		}

		#editor-container {
			width: 100%;
		}

		#editor {
			width: 80%;
			height: 80%;
		}
	</style>
</head>

<body>
	<h1 id="is_synced">SYNCED</h1>

	<div id="controls">
		<button onclick="syncChanges()">Sync</button>
		<button onclick="restartInstance()">Restart</button>
		<img id="spinner" style="display:none;max-height:16px;width:64px;"
			src="https://i.gifer.com/origin/3e/3ef326d43744e0877c24b8c07542a2e7_w200.gif"></img>
		<a id="port" target="_blank" href="">Instance</a>
	</div>
	<div id="suite">

		<div id="tree-container">
			<div id="tree"></div>
		</div>

		<div id="editor-container">
			<div id="editor"></div>
		</div>
	</div>

	<script>
		let editor1 = ace.edit("editor");
		editor1.setTheme("ace/theme/tomorrow_night");
		editor1.setFontSize(15);
		let EditSession = require("ace/edit_session").EditSession;

		Storage.prototype.setObject = function (key, value) {
			this.setItem(key, JSON.stringify(value));
		}

		Storage.prototype.getObject = function (key) {
			var value = this.getItem(key);
			return value && JSON.parse(value);
		}

		function isObjNull(obj) {
			return obj && Object.keys(obj).length === 0 && obj.constructor === Object;
		}

		function postAjax(url, data, success = function (data) { console.log(data) }) {
			$.ajax({
				url: url,
				type: "POST",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(data),
				success: success,
				error: function (xhr, status, error) {
					console.log(error);
				},
			});
		}

		function syncChanges() {
			let dirt = localStorage.getObject("mark_dirty");
			postAjax('/sync_changes', dirt, function (data) {
				console.log(data);
				localStorage.setObject("mark_dirty", {});
				$("#is_synced").text("SYNCED");
			});
		}

		function restartInstance() {
			let user_name = localStorage.getObject("user_name");
			$("#spinner").show();
			$("#port").hide();
			$.ajax({
				url: '/restart_instance',
				type: "POST",
				dataType: "json",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({ 'user': user_name }),
				success: function (data) {
					let instance_url = "http://" + window.location.host + ":" + data.port;
					localStorage.setObject("instance_url", instance_url);
					$("#port").attr("href", instance_url);
				},
				error: function (xhr, status, error) {
					console.log(error);
				},
				complete: function (data) {
					$("#spinner").hide();
					$("#port").show();
				}
			});
		};


		localStorage.setObject("user_name", "{{current_user.identity}}");

		$(function () {
			let instance_url = localStorage.getObject("instance_url");
			if (instance_url) {
				$("#port").attr("href", instance_url);
			} else {
				$(this).text("No instance online");
			}
			$("#port").click(function (e) {

				let instance_url = localStorage.getObject("instance_url");
				if (instance_url) {
					return;
				} else {
					e.preventDefault();
					$(this).text("No instance online");
				}
			});
		});

		$(function () {
			$("#tree").fancytree({
				extensions: ["edit"],
				skin: "lion",
				checkbox: false,
				expanded: true,
				source: function () {
					let tcont = localStorage.getItem("tree_content");
					let force_update = JSON.parse(`{{force_update}}`);

					if (force_update || (tcont === null)) {
						return $.ajax({
							url: "/get_dir",
							type: "POST",
							dataType: "json",
							contentType: "application/json; charset=utf-8",
							data: JSON.stringify({ "dir": "{{ app_path }}" }),
							success: function (data) {
								localStorage.setObject("tree_content", data);
								localStorage.setObject("mark_dirty", {});
								$("#is_synced").text("SYNCED");
								window.setTimeout(function () {
									let [url, arg] = window.location.href.split('?');
									if (url !== window.location.url) {
										window.location.href = url;
									}
								}, 10);
							},
						});
					}
					if (isObjNull(localStorage.getObject("mark_dirty"))) {
						$("#is_synced").text("SYNCED");
					} else {
						$("#is_synced").text("NOT SYNCED");
					}
                    console.log(JSON.stringify('{{app_path}}'));
					return JSON.parse(tcont);
				},
				edit: {
					beforeClose: function (event, data) {
						window.setTimeout(function () {
							if (data.node && data.node.title !== '') {
								let node_path = data.node.parent.key + "/" + data.node.title;
								data.node.key = node_path;
								let dirt = localStorage.getObject("mark_dirty");
								dirt[node_path] = "hello world.";
								localStorage.setObject("mark_dirty", dirt);
								let d = data.tree.toDict(true);
								localStorage.setObject("tree_content", d);
								$("#is_synced").text("NOT SYNCED");
							}
						}, 3);
					}
				},

				dblclick: function (event, data) {
					data.node.editCreateNode("after", {
						title: "",
						folder: false
					});
				},
				keydown: function (event, data) {
					switch (event.which) {
						case 46: {
							$.ajax({
								url: '/rm_file',
								type: "POST",
								dataType: "json",
								contentType: "application/json; charset=utf-8",
								data: JSON.stringify({ "path": data.node.key }),
								success: function (ds) {
									data.node.remove();
									let d = data.node.tree.toDict(true);
									localStorage.setObject("tree_content", d);
								}
							}).fail(function () {

								let dirt = localStorage.getObject("mark_dirty");
								delete dirt[data.node.key];
								localStorage.setObject("mark_dirty", dirt);
								data.node.remove();
								let d = data.tree.toDict(true);
								localStorage.setObject("tree_content", d);
								if (isObjNull(dirt)) {
									$("#is_synced").text("SYNCED");
								}
							});
							break;
						}
					}
				},
				activate: function (event, data) {
					let dkey = data.node.key;
					if (!data.node.folder) {

						let dirt = localStorage.getObject("mark_dirty");

						let editing = dirt[dkey];

						if (editing) {
							let session = new EditSession(editing);
							session.setMode("ace/mode/{{script_lang}}");
							session.setUseSoftTabs(false);
							session.on("change", function (e) {
								let doc_txt = session.getDocument().getValue();
								let dirt = localStorage.getObject("mark_dirty");
								dirt[dkey] = doc_txt;
								localStorage.setObject("mark_dirty", dirt);
								$("#is_synced").text("NOT SYNCED");
							});
							editor1.setSession(session);
							return;
						}

						$.ajax({
							url: "/get_file",
							type: "POST",
							contentType: "application/json; charset=utf-8",
							data: JSON.stringify({ "path": dkey }),
							dataType: "json",
							success: function (resp_data) {
								//editor1.setValue(data.content, -1);
								let extension = function (dkey_split) {
									if (dkey_split.length > 1)
										return dkey_split.pop();
								}(function (_dkey) {
									return _dkey.split('.');
								}(dkey));
								let session = new EditSession(resp_data.content);
								if (extension in { 'html': 0, 'php': 0 }) {
									session.setMode("ace/mode/html");
								}
								else {
									session.setMode("ace/mode/{{script_lang}}");
								}
								session.setUseSoftTabs(false);
								session.on("change", function (e) {
									let doc_txt = session.getDocument().getValue();
									let dirt = localStorage.getObject("mark_dirty");


									dirt[dkey] = doc_txt;
									localStorage.setObject("mark_dirty", dirt);
									$("#is_synced").text("NOT SYNCED");

								});
								editor1.setSession(session);
							},
							error: function (xhr, status, error) {
								console.log(status, error);
							}
						});

						// $("#status").text("Activate: " + data.node.title);
					}
				},
			});

		});
	</script>
</body>

</html>