<!DOCTYPE HTML>
<html>

<head>
    {% include 'fonts.html' %}
    <title>DB Jeeves</title>

    <style>
        body {
            margin: 0px;
            font-family: "JetBrainsMono-Regular";
        }

        #main-container {
            margin-left: 5%;
            margin-right: 5%;
            padding-top: 3%;
        }

        #padded-container {
            padding-left: 5%;
            padding-right: 5%;
        }
    </style>
</head>



<body>
    <div id="main-container">

        <div id="padded-container">
            {{log|safe}}
        </div>
    </div>
</body>

</html>