<html>


<head>

    <title>DB Jeeves</title>

    {% include 'jquery.jinja' %}
    <script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/theme-kuroir.min.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/mode-sql.min.js"></script>
    <script src="https://pagecdn.io/lib/ace/1.4.12/mode-html.min.js"></script>

    <link href="https://unpkg.com/tabulator-tables@4.8.2/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.2/dist/js/tabulator.min.js"></script>

    <style>
        body {
            margin: 0px;
            overflow-y: scroll;
            background-color: rgb(235, 203, 175);
        }

        #editor {
            width: 100%;
            height: 350px;
        }

        #main-container {
            background-color: rgb(255, 242, 230);
            margin-left: 5%;
            margin-right: 5%;
            padding-top: 3%;
            height: 9000px;
        }

        #padded-container {
            padding-left: 5%;
            padding-right: 5%;
        }
    </style>

</head>

<body>
    <div id="main-container">

        <div id="padded-container">
            <div style="margin-bottom:1%;">
                <a href="/view_project">Back</a>
            </div>
            <p>Vendor: {{current_user.vendor}}</p>
            <h1 id="sql-status">Run some SQL</h1>
            <p id="sql-status-desc">Waiting for input...</p>
            <div style="margin-top:4%;margin-bottom:5%">
                <div id="editor"></div>
            </div>
            <div id="sql-result" class="tab-container"></div>
        </div>
    </div>
</body>


<script>



    function postAjax(url, data,
        success = function (data) {
            console.log(data)
        },
        error = function (xhr, status, error) {
            console.log(error);
        }) {
        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: success,
            error: error,
        })
    };

    function runSql(ok, not_ok) {
        postAjax('/run_sql',
            { 'sql': localStorage.getObject("sql_script") }, ok, not_ok);
    }

    Storage.prototype.setObject = function (key, value) {
        this.setItem(key, JSON.stringify(value));
    }

    Storage.prototype.getObject = function (key) {
        var value = this.getItem(key);
        return value && JSON.parse(value);
    }

    $(function () {
        let UndoManager = require("ace/undomanager").UndoManager;
        ace.require("ace/ext/language_tools");
        let undoManager = new UndoManager();
        let EditSession = require("ace/edit_session").EditSession;

        let editor1 = ace.edit("editor");
        editor1.setTheme("ace/theme/kuroir");
        editor1.setFontSize(15);

        let session = new EditSession(localStorage.getObject("sql_script") || "");
        session.setUndoManager(undoManager);
        session.setMode("ace/mode/sql");
        session.setUseSoftTabs(false);
        session.on("change", function (e) {
            let doc_txt = session.getDocument().getValue();
            localStorage.setObject("sql_script", doc_txt);
        });

        editor1.setSession(session);

        let sql_result = localStorage.getObject("sql_result");
        if (sql_result) {
            let table = new Tabulator("#sql-result", {
                layout: "fitColumns",
                data: sql_result.data,
                columns: sql_result.columns
            });
        }

        editor1.commands.addCommand({
            name: 'save',
            bindKey: { win: "Ctrl-S", "mac": "Cmd-S" },
            exec: function (editor) {
                runSql(function (data) {
                    $("#sql-status").text("Ok");
                    $("#sql-status-desc").text("Nothing");
                    if (data) {
                        let columns = Object.keys(data[0]).map(function (i) { return { 'title': i, 'field': i } });
                        let table = new Tabulator("#sql-result", {
                            layout: "fitColumns",
                            data: data,
                            columns: columns
                        });
                        localStorage.setObject("sql_result", { 'data': data, 'columns': columns });
                    } else {
                        $("#sql-result").hide();
                    }

                }, function (xhr, status, error) {
                    $("#sql-status").text("Err");
                    $("#sql-status-desc").text(xhr.responseText);
                });
            }
        });




    })




</script>

</html>